li {
  list-style: none;
}

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
}

.hide {
  opacity: 0;
  display: none;
  visibility: none;
}

#logo {
  max-width: 5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
}
#logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#logo:hover {
  transform: rotate(30deg);
  transition: 0.2s;
}

.arrow-left {
  font-size: 2rem;
}

main {
  height: 100%;
  background-image: url("./src/img/dan-meyers-IQVFVH0ajag-unsplash.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  -o-object-fit: fill;
     object-fit: fill;
}
main h1 {
  color: #eeeeee;
  transform: translate3d(0rem, -5.5rem, 0rem);
  font-size: 1rem;
}
main #img--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
main #img--container div {
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
main #img--container div:nth-child(1n) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
main #img--container div:nth-child(2n) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
main #img--container div:nth-child(3n) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
main .img--round {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: white solid 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .img--round:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#about {
  display: none;
  height: 100vh;
  background-image: url("./src/img/dan-meyers-IQVFVH0ajag-unsplash.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}
#about div {
  padding: 1rem;
}

.about--clicked {
  flex-direction: column;
}

#about__text {
  font-size: large;
  -webkit-animation: pageChange--click 5000ms ease;
          animation: pageChange--click 5000ms ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 0vw;
  overflow: hidden;
}

#contact {
  display: none;
  -webkit-animation: fadein 1300ms ease;
          animation: fadein 1300ms ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #eeeeee;
}
#contact menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  background-color: #77628c;
  gap: 2rem;
  color: #eeeeee;
}
#contact menu img {
  height: 9vh;
}
#contact menu li:nth-child(3) {
  padding-top: 1rem;
  border-top: solid rgba(255, 255, 255, 0) 2px;
}
#contact menu li:nth-child(4) {
  padding-top: 1rem;
  border-top: solid rgba(255, 255, 255, 0) 2px;
}
#contact menu li:nth-child(3):hover {
  border-top: solid #eeeeee 2px;
}
#contact menu li:nth-child(4):hover {
  border-top: solid #eeeeee 2px;
}

#contact--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eeeeee;
}
#contact--wrapper h2 {
  margin-left: 2rem;
}
#contact--wrapper #contact--wrapper__contact {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #acc6aa;
}
#contact--wrapper #contact--wrapper__contact i {
  margin: 0.4rem;
  color: #77628c;
}
#contact--wrapper #contact--wrapper__contact p {
  margin: 0.2rem;
}
#contact--wrapper #map--wrapper {
  width: 100vw;
  height: 50vh;
}
#contact--wrapper iframe {
  width: 100%;
  height: 100%;
  border-width: 0px;
  border-style: none;
  border-color: none;
  -o-border-image: none;
     border-image: none;
}
#contact--wrapper #socialmedia--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#contact--wrapper #socialmedia--wrapper i {
  font-size: 2rem;
  color: #77628c;
}

.form_wrapper #contact--form {
  padding: 2rem;
}
.form_wrapper #contact--form h3 {
  color: #77628c;
}
.form_wrapper #contact--form textarea {
  height: 10vh;
}
.form_wrapper fieldset {
  display: flex;
  margin-bottom: 2rem;
  border: none;
  padding: 0;
}

#contact--form input, textarea {
  width: 100%;
  border: 1px solid #71a0a5;
  background: #eeeeee;
  padding: 0.5rem;
}

#contact--form button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #77628c;
  color: #eeeeee;
  padding: 0.6rem;
}

#contact--form button[type=submit]:hover {
  background: #71a0a5;
  transition: background-color 0.3s ease-in-out;
}

#contact--form input:focus, #contact--form textarea:focus {
  outline: 0;
  border: 2px solid #77628c;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    background-color: rgb(151, 139, 139);
  }
  100% {
    opacity: 1;
    background-color: white;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    background-color: rgb(151, 139, 139);
  }
  100% {
    opacity: 1;
    background-color: white;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0%;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0%;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pageChange--click {
  100% {
    width: 100vw;
  }
}
@keyframes pageChange--click {
  100% {
    width: 100vw;
  }
}
#loader {
  overflow: hidden;
}

#loader--top {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  background-color: whitesmoke;
  -webkit-animation: loader--top 500ms ease;
          animation: loader--top 500ms ease;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#loader--bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  background-color: whitesmoke;
  -webkit-animation: loader--bottom 500ms ease;
          animation: loader--bottom 500ms ease;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#loader__logo {
  -webkit-animation: loader__logo 300ms ease;
          animation: loader__logo 300ms ease;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  z-index: 2;
}
#loader__logo img {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#loader__logo img:nth-child(1) {
  -webkit-animation: logo--twist 800ms ease;
          animation: logo--twist 800ms ease;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#loader__logo img:nth-child(2) {
  -webkit-animation: logo--pulse 500ms ease;
          animation: logo--pulse 500ms ease;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader--top {
  100% {
    height: 0rem;
  }
}

@keyframes loader--top {
  100% {
    height: 0rem;
  }
}
@-webkit-keyframes loader--bottom {
  100% {
    height: 0rem;
  }
}
@keyframes loader--bottom {
  100% {
    height: 0rem;
  }
}
@-webkit-keyframes loader__logo {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader__logo {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes logo--twist {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes logo--twist {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes logo--pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logo--pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 850px) {
  main #img--container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50vh;
    gap: 7rem;
  }
  main .img--round {
    height: 13rem;
    width: 13rem;
  }
  #loader__logo {
    top: 20%;
    left: 40%;
    height: 25vh;
    width: 25vw;
  }
}/*# sourceMappingURL=styles.css.map */