//COLORS VAR
//COLORS VAR
// $primay-color:
$secondary-color:#f5bf56;
$text-color: #0000;
$txtImgColor: white;

html{
    height:100%;
  
}

body{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height:100%;
}

header{
    padding:5px;
    background-color: black;
    opacity:0.8;
        ul{
            list-style-type: none;
            display: flex;
           justify-content: center;
           margin:0;
            gap:2rem;
            li{
                color: $text-color;
            }
        }
        
        
        
}
#logo{
    max-width: 5rem;
    max-height: 5rem;
    margin-top: 1rem;
    margin-left:1rem;
     img{
         height: 100%;
         width: 100%;
         object-fit: cover;
     }
 
     &:hover{
         transform: rotate(30deg);
         transition: 0.2s;
 
     }
 }
main{
    height: 100%;
    background-image: url("./src/img/dan-meyers-IQVFVH0ajag-unsplash.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
   
    object-fit: fill;
    h1{
        color:$txtImgColor;
        transform: translate3d(0rem,-5.5rem,0rem);
        font-size: 1rem;
    }
    
    
   
    #img--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        object-fit: fill;
        
        div{
            
            animation-duration: 2000ms;
            animation-name: appear;
            animation-fill-mode: both;
            

            @for $i from 1 through 3 {
                &:nth-child(#{$i}n) {
                    animation-delay: #{$i * 300}ms;
                }
        }
        
            
        }
        
    }
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    .img--round{
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        object-fit: cover;
        border: white solid 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

       &:hover{
            transform: scale(1.1);
            transition: 0.2s;
           
        }
    }
}



article{
    border: green solid 2px;
    h2{
        color:$secondary-color;
    }
}


//ANIMATIONS
//ANIMATIONS
//ANIMATIONS

@keyframes fadein {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes appear {
    0%{
      opacity: 0%;
      transform: scale(1);
    }

    50%{
        opacity:1;
        transform: scale(1);
    }

    60%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);

    }
}

//LOADER
//LOADER
#loader{
    overflow: hidden;
}
#loader--top{
    position:absolute;
    top:0;
    width:100vw;
    height:50vh;
    z-index:1;
    background-color:red;
    animation:loader--top 500ms ease;animation-delay:1800ms;animation-fill-mode: forwards;
}
#loader--bottom{
    position:absolute;
    bottom:0;
    width:100vw;
    height:50vh;
    z-index:1;
    background-color:blue;
    animation:loader--bottom 500ms ease;animation-delay:1800ms;animation-fill-mode: forwards;
}

@keyframes loader--item {
    0%{transform:scale(0.5);opacity:30%;}
    20%{transform:scale(0.7);opacity:60%;}
    40%{transform:scale(0.5);opacity:70%;}
    60%{transform:scale(0.7);opacity:80%;}
    80%{transform:scale(0.5);opacity:90%;}
    100%{transform:scale(0.7);opacity:0;display:none;}
    
}

@keyframes loader--top {
    100%{ transform: translate3d(0, -100%,0);display:none;}
}
@keyframes loader--bottom {
    100%{ transform: translate3d(0, 100%,0);display:none;}
}