
//COLORS VAR
//COLORS VAR
$first-color:#eeeeee;
$secondary-color:#acc6aa;
$third-color:#71a0a5;
$fourth-color:#77628c;



//Normalize
li{list-style: none;}


html{
    height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: $first-color;
}

body{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height:100%;
}

footer{
    height: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
    i{
        margin:.4rem;
        color:$fourth-color;
    }
    p{
        margin:0.2rem;
        
    }
}

.hide{
    opacity:0;
    display:none;
    visibility: none;
}

#logo{
    max-width: 5rem;
    margin-top: 1rem;
    margin-left:1rem;
    display: flex;
    
     img{
        
         width: 100%;
         object-fit: cover;
     }
 
     &:hover{
         transform: rotate(30deg);
         transition: 0.2s;
 
     }

     
 }

 .arrow-left{
    font-size: 2rem;
  
   
 }
main{
    height: 100%;
    background-image: url("./src/img/dan-meyers-IQVFVH0ajag-unsplash.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
   
    object-fit: fill;
    h1{
        color:$first-color;
        transform: translate3d(0rem,-5.5rem,0rem);
        font-size: 1rem;
    }
    
    
   
    #img--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        object-fit: fill;
        
        div{
            
            animation-duration: 3500ms;
            animation-name: appear;
            animation-fill-mode: both;
            

            @for $i from 1 through 3 {
                &:nth-child(#{$i}n) {
                    animation-delay: #{$i * 300}ms;
                }
        }
        
            
        }
        
    }
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    //METTRE UNE DIV ET ZOMMER QUE LES IMAGES ??
    .img--round{
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        object-fit: cover;
        border: white solid 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

       &:hover{
            transform: scale(1.1);
            transition: 0.2s;
           
        }
    }
}


#about{
    display: none;
    height: 100vh;
    background-image: url("./src/img/dan-meyers-IQVFVH0ajag-unsplash.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
    div{
       padding:1rem;
    }
}

.about--clicked{
    
    flex-direction: column;
}

#about__text{
    font-size: large;
    animation:pageChange--click 5000ms ease;animation-fill-mode: forwards;
    width: 0vw;
    overflow: hidden;
}

#contact{
    display: none;
    transform: translate(0,-90rem);
    animation: pageSwap 1000ms ease; animation-fill-mode: both;
    color:$first-color;
    
}

menu{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding:0.5rem;
    background-color: $fourth-color;
    gap: 2rem;
    color:$first-color;
  
    img{
        height: 9vh;
        
    }

    li{

        &:nth-child(3),&:nth-child(4){
            padding:1rem;
            border-top: solid 2px;
            border-color: #acc6aa;
            -webkit-mask:
              conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
               var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
              conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
               0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
              linear-gradient(#000 0 0) padding-box no-repeat;
                transition: 300ms;
        }

        &:nth-child(3):hover, &:nth-child(4):hover{
            --_i: 100%;
            transition: 300ms;
            // animation: barreRemplissage 800ms ease;animation-fill-mode: forwards;
        }
       
    }
    
   
} 


#contact--wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;

    h2{
        margin-top: 2rem;
        margin-bottom:0rem;
        font-size: xx-large;
        font-weight: 1000;
    }
    p:nth-child(3)
    {
        font-style: italic;
    }

    
    #map--wrapper{
        width: 100%;
        height: 55vh;
    }
    iframe{
        height: 100%;
        width: 100%;
        //normalize iframe 
         border-width: 0px;
        border-style: none;
        border-color: none;
        border-image: none;
    }

    #socialmedia--wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
        i{
            font-size: 2rem;
            color:$fourth-color;
        }
    }

}

//CONTACT FORM
//CONTACT FORM
//CONTACT FORM

.form_wrapper {
    width: 50%;

        padding:2rem;

        h3 {
            color: $fourth-color;
        }
        h4{
            color: $fourth-color;
            opacity: 0.7;
        }

}


#formio{
    display:flex;
    justify-content: center;
    width: 100%;

}

.formio-component, .formio-component-form,  .formio-component-label-hidden{
    width: 100%;
}

input, textarea {
    width:50vw;
	border:1px solid $third-color;
	background:$first-color;
    padding:0.5rem;
}



#formio button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:$fourth-color;
	color:$first-color;
    padding:0.6rem;

}

#formio button[type="submit"]:hover {
	background:$third-color;
	transition:background-color 0.3s ease-in-out;
}


#formio input:focus, #formio textarea:focus {
	outline:0;
	border:2px solid $fourth-color;
}

//ANIMATIONS
//ANIMATIONS
//ANIMATIONS

@keyframes fadein {
    0%{
        opacity:0;
        background-color:rgb(151, 139, 139);
    }
    100%{
        opacity:1;
        background-color:white;
    }
}

@keyframes appear {
    0%{
      opacity: 0%;
      transform: scale(1);
    }

    50%{
        opacity:1;
        transform: scale(1);
    }

    60%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);

    }
}

@keyframes pageChange--click {
    0%{}
    100%{width: 100vw;}
}

//LOADER
//LOADER
#loader{
    overflow: hidden;
}
#loader--top{
    position:absolute;
    top:0;
    width:100vw;
    height:50vh;
    z-index:1;
    background-color:whitesmoke;
    animation:loader--top 500ms ease;animation-delay:1800ms;animation-fill-mode: forwards;
}
#loader--bottom{
    position:absolute;
    bottom:0;
    width:100vw;
    height:50vh;
    z-index:1;
    background-color:whitesmoke;
    animation:loader--bottom 500ms ease;animation-delay:1800ms;animation-fill-mode: forwards;
}

#loader__logo{
    animation: loader__logo 300ms ease;animation-delay:1500ms;animation-fill-mode: forwards;
    position: absolute;
    top:25%;
    left:25%;
    opacity:1;
    display:flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    z-index: 2;
    img{
        
        width: auto;
        object-fit: contain;
        
        &:nth-child(1){
            animation: logo--twist 800ms ease;animation-delay:500ms;animation-fill-mode: forwards;
            
        }
        &:nth-child(2){

            
            animation: logo--pulse 500ms ease; animation-delay:50ms; animation-fill-mode: forwards;
        }
    }
}

@keyframes pageSwap {
    100%{
        transform: translate(0,0rem);
    }
}

@keyframes loader--top {
    100%{ height: 0rem;}
}
@keyframes loader--bottom {
    100%{ height: 0rem;}
}

@keyframes loader__logo {
    100%{
        opacity:0;
        visibility:hidden;
    }
}

@keyframes logo--twist {
    0%{
        
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes logo--pulse {
    0%{}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
    
}

@keyframes barreRemplissage{
    0%{}
    
    100%{border-top: solid $first-color 2px;}
}



//DESKTOP 
@media (min-width: 850px) {
    
    main  {

        #img--container{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            height: 50vh;
            gap: 7rem;
        }

        .img--round{
            height: 13rem;
            width: 13rem;
        }
        
    }

    #loader__logo{
        top:20%;
        left:40%;
        height: 25vh;
        width: 25vw;
                
    }

    
}